* {
  box-sizing: border-box;
}
.nobound {
  margin: 0%;
  padding: 0%;
}
.fs {
  width: 100%;
  height: 100%;
}
/*   Mixin for perfect absolute positioning - centering    */
.p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.bg-setup {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
}
body,
html,
div,
span,
p,
a,
img,
header,
footer,
span,
ul,
li,
section,
nav,
aside,
article,
figure,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
i {
  display: block;
  margin: 0%;
  padding: 0%;
  outline: red 1px solid;
}
body:focus,
html:focus,
div:focus,
span:focus,
p:focus,
a:focus,
img:focus,
header:focus,
footer:focus,
span:focus,
ul:focus,
li:focus,
section:focus,
nav:focus,
aside:focus,
article:focus,
figure:focus,
figcaption:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
i:focus {
  border: none;
  outline: none;
}
html,
body {
  width: 100%;
  height: 100%;
  background-image: url(../assets/bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -ms-content-zooming: none;
  color: #2f2f2f;
  font-family: Arial, cursive;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.opa {
  opacity: 0.4;
}
body header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 25px;
  color: white;
  background: #413c41;
  font-size: 100%;
  font-weight: 100;
  cursor: default;
}
body header .container-fluid {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
body header .container-fluid .row {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}
body header .container-fluid .row .col-lg-6 {
  margin: 0%;
  padding: 0%;
  height: 25px;
}
body header .container-fluid .row .col-lg-6 .apple-button,
body header .container-fluid .row .col-lg-6 .main-button,
body header .container-fluid .row .col-lg-6 .main-list {
  display: inline-block;
  height: 25px;
  width: auto;
}
body header .container-fluid .row .col-lg-6 .apple-button {
  margin-left: 1%;
  width: 2em;
}
body header .container-fluid .row .col-lg-6 .apple-button:hover {
  background: cornflowerblue;
}
body header .container-fluid .row .col-lg-6 .main-button {
  font-weight: bold;
  font-size: 90%;
  padding: 0.25% 2%;
}
body header .container-fluid .row .col-lg-6 .main-button:hover {
  background: cornflowerblue;
}
body header .container-fluid .row .col-lg-6 .main-list ul {
  width: auto;
}
body header .container-fluid .row .col-lg-6 .main-list ul li {
  display: inline;
  padding: 2% 5%;
}
body header .container-fluid .row .col-lg-6 .main-list ul li:hover {
  background: cornflowerblue;
}
body footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: auto;
  min-height: 3em;
}
body footer #holder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline;
  background: rgba(50, 50, 50, 0.6);
  border-radius: 10px 10px 0px 0px;
  border: 0.25px black solid;
  box-shadow: #000000 0px 0px 5px;
  height: auto;
  width: auto;
  max-width: 100%;
  padding: 1% 1% 2%;
}
body footer #holder #holder-content {
  display: inline-block;
  width: 100%;
  height: auto;
}
body footer #holder #holder-content .holder-item {
  margin: 0%;
  padding: 0%;
  display: inline-block;
  width: 3.5em;
  height: 3em;
  transition: transform 0.25s, width 0.25s;
}
body footer #holder #holder-content .holder-item:hover {
  transition: transform 0.25s, width 0.25s;
}
body footer #holder #holder-content .holder-item .holder-item-content {
  margin: 0%;
  padding: 0%;
  width: 3em;
  height: 3em;
  margin: auto;
}
body footer #holder #holder-content .holder-item .holder-item-content .holder-icon {
  transition: transform 1s;
}
body footer #holder #holder-content .holder-item .holder-item-content .holder-icon:hover {
  transition: transform 1s;
}
body footer #holder #holder-content .holder-item .holder-item-content .icon-square {
  width: 3em;
  height: 3em;
  border-radius: 3px;
}
body footer #holder #holder-content .holder-item .holder-item-content .icon-circle {
  width: 3em;
  height: 3em;
}
body footer #holder #holder-content .holder-item-divider {
  margin: 0%;
  padding: 0%;
  display: inline-block;
  width: 3.5em;
  height: 4em;
}
